@import url("../vars.css");

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;

  font-weight: 300;
  overflow-y: scroll;
}

.container {
  margin: 0 auto;
  font-size: var(--fs-20-39);
  padding-top: calc(1em + (var(--nav-paddingTop) + 1em));
  padding-bottom: var(--container-paddingBottom);
}

@media screen and (--md){
  .container {
    padding-top: var(--container-paddingTop-mobile);
  }
}

.privacy-h1{
  font-size: 2.4375rem;
  margin-bottom: 1.025em;
}

.privacy-h2 {
  font-size: 1.5625rem;
  margin-top: 1.28em;
  margin-bottom: 0.32em;
}

.container li , .container p{
    font-size: var(--fs-16-20);
    margin-bottom: 1em;
}
