@import url(../vars.css);

#main-container {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  overflow-y: scroll;
}

.img-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  max-height: none;
  aspect-ratio: 3/2;
  max-height: none;
}

@media screen and (--xl) {
  .img-wrapper img {
    max-height: 612px;
  }
}
.img-wrapper {
  position: relative;
  flex: 1 0 55%;
}

.container {
  width: 80%;
  max-width: 1536px;
  font-size: var(--fs-20-39);
  padding-top: calc(1rem + (var(--nav-paddingTop) + 1em));
}

@media screen and (--sm) {
  .container {
    width: var(--container-w-mobile);
  }
}

.container h2 {
  font-size: var(--fs-39-95);
  margin-bottom: 0.3368em;
}

.project-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: 1.5em;
  font-size: var(--fs-25-39);
  border-top: 1px solid white;
  gap: 1.2307em;
}

.project-card:first-of-type {
  border-top: unset;
}

.project-info {
  display: flex;
  flex-direction: column;
  flex: 0 1 45%;
}

@media screen and (--xl) {
  .project-card {
    flex-direction: column;
    gap: 0.9697em;
  }
  .project-info {
    flex-basis: content;
  }
  .img-wrapper img {
    aspect-ratio: 1/1;
  }
}

@media screen and (--md) {
  .container {
    padding-top: calc(1rem + (var(--nav-paddingTop) + 2em));
  }
}

.project-name {
  margin-bottom: 0.1666em;
  font-weight: 600;
  font-size: var(--fs-25-48);
  text-transform: uppercase;
}

.project-name::after {
  content: url("../assets/svgs/arrow-up-right.svg");
  display: inline-block;
  width: 0.6em;
  margin-left: 0.3em;
}

.dev-info {
  color: #fdf09c;
  list-style: none;
  display: flex;
  font-size: var(--fs-16-20);
  margin-bottom: 1em;
  flex-wrap: wrap;
}

.dev-info li {
  font-size: var(--fs-16-20);
  margin-bottom: 0.2em;
  margin-right: 0.8em;
}

.project-info p {
  font-size: var(--fs-16-25);
}
