.resume-btn {
    font-size: var(--fs-16-39);
    background: none;
    color: var(--text-clr);
    border: 0.0513em solid #ffe285;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0.5em;
    gap: 0.6153em;
    font-weight: 500;
    transition-property: color, background;
    transition-duration: 0.3s;
    transition-timing-function: ease-in;
  }
  
  .resume-btn:hover {
    color: var(--background-clr);
    background: #ffe285;
  }
  .resume-btn:focus {
    color: var(--background-clr);
    background: #ffe285;
  }
  
  .resume-btn svg {
    width: 1em;
    fill: #e6e7f2;
    transition: fill 0.3s ease-in;
  }
  
  .resume-btn:hover > svg {
    fill: #0e0e11;
  }
  .resume-btn:focus > svg {
    fill: #0e0e11;
  }